{% extends "usermaster.html" %}
{% load static %}
{% block content %}


<div class="container" style="background-color: rgb(175, 228, 228);max-height: 600px;margin-top: 50px;width: 500px;">
     <input type="radio" >Address of Customer


    <br><br>

   
 <a href="paymode"><button type="submit" class="btn btn-info btn-outline-success" style="color: white;">Deliver to this Address</button><br><br>
 </a> <a href="buy"><button type="submit" class="btn btn-light btn-outline-success" style="width: 200px;">Edit Address</button></a>
   
    <div class=" form-group row">
        <label for="formGroupExampleInput" style="width:150px;"></label>
        
    </div>
</div>
  
{% endblock %}