{% extends "usermaster.html" %}
{% load static %}
{% block content %}
<div class="row container-fluid" style="width: fit-content;margin-top: 50px;margin-bottom: 50px; background-color: rgb(255, 255, 255);">
    <div class="col-md-4"><br>
        <div class="card" style="width:18rem;">
            <img src="{% static 'image/pinkheel.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Women Sandal Block Heel</h5>
              <p class="card-text">Rs.550/-</p> <a href="#" class="btn btn-primary">view</a>
            </div>
          </div><br>
          <div class="card" style="width: 18rem;"><br>
            <img src="{% static 'image/kurti.jpg' %}" class="card-img-top" alt="..." style="height: 250px;" >
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Women Cotton Printed Straight Kurti</h5>
              <p class="card-text">Rs.1060/-</p><a href="#" class="btn btn-primary">view</a>
            </div>
          </div>
    </div>   
    <div class="col-md-4"><br>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/moist.jpg' %}"class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Olay Moisturising Cream, 50g</h5>
              <p class="card-text">Rs.250/-</p><a href="#" class="btn btn-primary">view</a>
            </div>
          </div><br>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'image/sari.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Chiffon Saree</h5>
              <p class="card-text">Rs.1500/-</p>
              <a href="#" class="btn btn-primary">view</a>
            </div>
          </div>
         
    </div>
    <div class="col-md-4"><br>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'image/found.jpg' %}"class="card-img-top" alt="..." style="height: 250px;">
                <div class="card-body" style="background-color: pink;">
                  <h5 class="card-title">Compact Cream foundation Shade 01</h5>
                  <p class="card-text">Rs.950/-</p><a href="#" class="btn btn-primary">view</a>
                </div>
              </div><br>
        
          <div class="card" style="width: 18rem;">
            <img src="{% static 'image/redshirt.jpg' %}" class="card-img-top" alt="..." style="height: 250px;" >
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Men's Regular fit Casual Shirt</h5>
              <p class="card-text">Rs.550/-</p><a href="#" class="btn btn-primary">view</a>
            </div>
          </div>

  </div>
</div>




{% endblock %}








