{% extends "usermaster.html" %}
{% load static %}
{% block content %}
<div class="row">
        <div class="col-md-2"></div>
                <div class="col-md-8">
                        <div  style="background-color: rgb(192, 238, 238);margin-bottom: 50px;height: 450px;margin-top: 20px; padding-left: 80px;padding-right: 80px;width:fit-content;">
                        <p style="margin-top: 20px; text-align: center;padding-top: 100px;">Delta is focused on the health and safety of both our customers and associates. If your address lies in an area with local restrictions, then your order might get delayed. You may also experience longer hold times when you call us. For fast and easy self-help solutions, please visit the Your Orders section on the  website. Thank you for your patience.
                        <br>
                        <img src="{% static 'image/logo1.jpg' %}" alt="" style="width: 50px;height: 50px;">
                </p>
       </div>
       </div>
                <div class="col-md-2"></div>
        
</div>
 
      


{% endblock %}









       
   