{% extends "usermaster.html" %}
{% load static %}
{% block content %}


<div class="container" style="background-color: rgb(175, 228, 228);max-height: 600px;margin-top: 50px; padding-left: 30px;width: 550px;">
    <div class="col-md-4"><br>
        <div class="card" style="width:18rem;">
            <img src="{% static 'image/redshirt.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Men's Regular fit Casual Shirt</h5>
              <p class="card-text">Rs.550/-</p> <a href="#" class="btn btn-primary">view</a>
            </div>
          </div><br>
    </div>
  
{% endblock %}








