{% extends "adminmaster.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<div class="container" style="background-color: rgb(175, 228, 228);max-height: max-content;margin-top: 50px;margin-bottom: 50px;width: 430px;">
    <form class="text-center m-auto ">
        <br><br>
        <div class="form-group row ">
            <label for="formGroupExampleInput" style="width: 150px;">Brand</label>
            <select name="" id="brand">
                <select name="" id="brand ">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </select>
        </div>
        <div class="form-group row ">
            <label for="formGroupExampleInput" style="width: 150px;">Categories</label>
            <select name="" id="brand " >
                <select name="" id="brand ">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                </select>
                
            </select>
            </div>
            <div class="form-group row ">
                <label for="formGroupExampleInput" style="width: 150px;">product</label>
                <select name="" id="brand " >
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    
                </select>
              
</div>
<div class="form-group row " >
    <label for="" style="width: 150px;"></label>
<button class="btn btn-info " type="submit"> add</button></div>
</form><br>
</div>


{% endblock %}