{% extends "adminmaster.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-7">
        <div style="background-color: rgb(175, 228, 228);margin-top: 50px; margin-bottom: 50px;width: 430px;">
            <br>
            
                <div  class="container " >
        
                        <form class=" text-center  "   align="center">
                            <br><br>
                            <div class="form-group row ">
                                <label for="formGroupExampleInput" style="width: 150px;">Brand</label>
                                <select name="" id="brand">
                                    <option VALUE="ALLEN SOLLY">Allen solly</option>
                                    <option VALUE="SUGAR">Sugar</option>
                                    <option VALUE="ADIDAS">Adidas</option>
                
                                </select>
                            </div>
                            <div class="form-group row ">
                                <label for="formGroupExampleInput" style="width: 150px;">Categories</label>
                                <select name="" id="brand ">
                                    <option VALUE="Shirt">Shirt</option>
                                    <option VALUE="Shoe-men">Shoe-men</option>
                                    <option VALUE="Lipstick">Lipstick</option>
                
                                </select>
                            </div>
                            <div class="form-group row ">
                                <label for="formGroupExampleInput" style="width: 150px;">Product Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" style="width: 250px;">
                            </div>
                            <div class=" form-group row">
                                <label for="formGroupExampleInput" style="width: 150px;">price</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" style="width: 250px;">
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" style="width:150px;">color</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" style="width: 250px;">
                            </div>
                            <div class="form-group row ">
                                <label for="formGroupExampleInput2" style="width: 150px;">Description</label>
                                <textarea name="" id="" cols="29" rows="5"></textarea> &nbsp;
                            </div>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" style="width: 150px">size</label>
                                <div class="form-check">
                                    <input type="checkbox">S&nbsp;
                                    <input type="checkbox">M &nbsp;
                                    <input type="checkbox">L &nbsp;
                                    <input type="checkbox">XL
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label for="formFileMultiple" style="width:150px;">image</label>
                                <input type="file" class="form-control" style="background-color: pink;width: 250px;" name="name"
                                    multiple>
                
                
                
                                <!-- <input class="form-control" style="width: 300px;" type="file" id="formFileMultiple" multiple > -->
                            </div>
                            <div class="form-group row ">
                                <label for="formGroupExampleInput" style="width:150px;"></label>
                                <button type="submit" class="btn btn-info">submit</button>
                            </div>
                      
                
                
                    </form>
                </div>
            
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}