{% extends "adminmaster.html" %}
{% load static %}
{% block content %}

<div  style="background-color: rgb(175, 228, 228);margin-top: 50px;margin-bottom: 50px;">
<br>
    <h1 style="text-align: center;"><b>BRANDS</b> </h1>
    <div style="padding-right: 100px;"><a href="addbrand"><button class="btn btn-info float-right"> Add Brand</button></a></div>
    <br><br>
    <div align="center" class="container">
        <table class="table table-light" style="width: fit-content;margin-right: 100px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 100PX;">Id</th>
                    <th scope="col" style="width: 100px;">BRAND</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tr>
                <td>001</td>
                <td>zara</td>
                <td><button class=" btn-danger">Edit</button>  <button class=" btn-dark">Remove</button></td>
                
            </tr>
            <tr>
                <TD>002</TD>
                <td>Aurelia</td>
                <td><button class=" btn-danger">Edit</button>  <button class=" btn-dark">Remove</button></td>
                
            </tr>
            <TR>
                <td>003</td>

                <td>Levis</td>
                <td><button class=" btn-danger">Edit</button>  <button class=" btn-dark">Remove</button></td>
                
            </TR>
        </table>
    </div>

    <br>
    
</div>

{% endblock %}