{% extends "adminmaster.html" %}
{% load static %}
{% block content %}

<div  style="background-color: rgb(175, 228, 228);margin-top: 50px;margin-bottom: 50px;">
<br>
    <h1 style="text-align: center;"><b>BRANDS</b> </h1>
    <div style="padding-right: 100px;"><a href="addbrand"><button class="btn btn-info float-right"> Add Brand</button></a></div>
    <br><br>
    <div align="center" class="container">
        <table class="table table-light" style="width: 400px;margin-right: 100px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">BRAND</th>
                </tr>
            </thead>
            <tr>
                <td>001</td>
                <td>ALLEN SOLLY</td>
            </tr>
            <tr>
                <TD>002</TD>
                <td>ADIDAS</td>
            </tr>
            <TR>
                <td>003</td>

                <td>SUGAR</td>
            </TR>
    </div>

    </table><br>
    
</div>

{% endblock %}