{% extends "adminmaster.html" %}
{% load static %}
{% block content %}

<div style="background-color: rgb(175, 228, 228);margin-top: 50px;margin-bottom: 50PX; ">
<br>
    <h1 style="text-align: center;"><b>CATEGORIES</b> </h1>
    <div  style="padding-right: 100px;"><a href="additem"><button class="btn btn-info float-right"> Add items</button></a></div>
    <br><br>
    <div align="center" class="container" >
            <table class="table table-light" style="width: 300px;margin-right: 100px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CATEGORIES</th>
                        <th scope="col">BRAND</th>
                    </tr>
                </thead>
                <tr>
                    <td>001</td>
                    <td>Shirt</td>
                    <td>Allen solly</td>
                </tr>
                <tr>
                    <TD>002</TD>
                    <td>Shoe-men</td>
                    <td>Adidas</td>
                </tr>
                <TR>
                    <td>003</td>
                    <td>Lipstick</td>
                    <td>Sugar</td>
            
                </TR>
            </table>
    </div>

             <br>
   
</div>

{% endblock %}