{% extends "adminmaster.html" %}
{% load static %}
{% block content %}
<div class="row container-fluid" style="width: fit-content;margin-top: 50px;margin-bottom: 50px; background-color: rgb(176, 241, 236);">
   <div class="col-md-12" ><br><a href="adddeal" class="btn btn-info">Add products</a></div>
   <div class="col-md-4 col-sm-12 "><br>
    <div class="card" style="width: 17rem;">
      <img src="{% static 'image/crop1.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title">Crop top</h5>
          <p class="card-text">Rs.550/-</p> <a href="view" class="btn btn-primary">view</a>
      </div>
  </div><br>
  <div class="card"style="width: 17rem;" ><br>
      <img src="{% static 'image/frock1.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title">Frock</h5>
          <p class="card-text">Rs.1060/-</p><a href="#" class="btn btn-primary">view</a>
      </div>
  </div>
  </div>
  <div class=" col-md-4 col-sm-12"><br>
    <div class="card" style="width: 17rem;" >
      <img src="{% static 'image/shirt2.webp' %}" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title"> V-Neck Solid Shirt
          </h5>
          <p class="card-text">Rs.1500/-</p>
          <a href="#" class="btn btn-primary">view</a>
      </div>
  </div><br>
  <div class="card" style="width: 17rem;">
      <img src="{% static 'image/jeans1.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title">skinny fit jeans
          </h5>
          <p class="card-text">Rs.800/-</p>
          <a href="#" class="btn btn-primary">view</a>
      </div>

  </div>
  </div>
  <div class="col-md-4 col-sm-12 "><br>
    <div class="card"style="width: 17rem;" >
      <img src="{% static 'image/crop1.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title">Crop top</h5>
          <p class="card-text">Rs.550/-</p> <a href="#" class="btn btn-primary">view</a>
      </div>
  </div><br>
  <div class="card" style="width: 17rem;"><br>
      <img src="{% static 'image/frock1.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
          <h5 class="card-title">Frock</h5>
          <p class="card-text">Rs.1060/-</p><a href="#" class="btn btn-primary">view</a>
      </div>
  </div>
  </div>
</div>


 {% endblock %}