{% extends "adminmaster.html" %}
{% load static %}
{% block content %}
<div class="row container-fluid" style="width: fit-content;margin-top: 50px;margin-bottom: 50px; background-color: rgb(176, 241, 236);">
   <div class="col-md-12" ><br><a href="adddeal" class="btn btn-info">Add products</a></div>
    <div class="col-md-4"><br>
        <div class="card" style="width:18rem;">
            <img src="{% static 'image/redshirt.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Men's Regular fit Casual Shirt</h5>
              <p class="card-text">Rs.550/-</p> <a href="#" class="btn btn-primary">remove</a>
            </div>
          </div><br>
          <div class="card" style="width: 18rem;"><br>
            <img src="{% static 'image/shoe.jpg' %}" class="card-img-top" alt="..." ><br><br>
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Men's Running Shoese</h5>
              <p class="card-text">Rs.1860/-</p><a href="#" class="btn btn-primary">remove</a>
            </div>
          </div>
    </div>   
    <div class="col-md-4"><br>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'image/lipstick.jpg' %}"class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Matte Lip Color - 07</h5>
              <p class="card-text">Rs.200/-</p><a href="#" class="btn btn-primary">remove</a>
            </div>
          </div><br>
          <div class="card" style="width: 18rem;">
            <img src="{% static 'image/sari.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body" style="background-color: pink;">
              <h5 class="card-title">Chiffon Saree</h5>
              <p class="card-text">Rs.1500/-</p>
              <a href="#" class="btn btn-primary">remove</a>
            </div>
          </div>
    </div>
    <div class="col-md-4"><br>
      <div class="card" style="width: 18rem;">
          <img src="{% static 'image/lipstick.jpg' %}"class="card-img-top" alt="..." style="height: 250px;">
          <div class="card-body" style="background-color: pink;">
            <h5 class="card-title">Matte Lip Color - 07</h5>
            <p class="card-text">Rs.200/-</p><a href="#" class="btn btn-primary">remove</a>
          </div>
        </div><br>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'image/sari.jpg' %}" class="card-img-top" alt="..." style="height: 250px;">
          <div class="card-body" style="background-color: pink;">
            <h5 class="card-title">Chiffon Saree</h5>
            <p class="card-text">Rs.1500/-</p>
            <a href="#" class="btn btn-primary">remove</a>
          </div>
        </div>
  </div>
</div>

 {% endblock %}